 /*https://coolors.co/palette/10451d-155d27-1a7431-208b3a-25a244-2dc653-4ad66d-6ede8a-92e6a7-b7efc5*/
  body {
    font-family: Arial, sans-serif;
    background-color: #7ee00d;
    height: 70vh;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    display: flex;
    h3{font-family: cursive;}
}

.container {
    background-color: #39bb05;
    padding: 5px;
    border-radius: 30px;
    box-shadow: 0 0 15px #16d316(0,0,0,0.2);
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
}



.input-container {
    background-color: #85e01c;
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000(0,0,0,0.1);
    align-items: center;
}

.output-container {
    background-color: #838383;
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000(0,0,0,0.1);
    align-items: center;
}

.group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;  /*+/-*/
}

.button-group {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

input, button {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    width: 93%;
    background: #5e615f;
    color: #B7EFC5;
    cursor: pointer;
}

input {
    width: 90%;
    padding: 8px;
}

.result-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}